/* Fluid Responsive  */

/* Variables */
:root {
  --font-from-0: 14;
  --font-to-0: 15;
  --vw-from-0: calc(1 / 100);
  --vw-to-0: calc(991 / 100);
  --coefficient-0: calc(
    (var(--font-to-0) - var(--font-from-0)) / (var(--vw-to-0) - var(--vw-from-0))
  );
  --base-0: calc((var(--font-from-0) - var(--vw-from-0) * var(--coefficient-0)) / 16);

  --font-from-1: 12;
  --font-to-1: 16;
  --vw-from-1: calc(991 / 100);
  --vw-to-1: calc(1440 / 100);
  --coefficient-1: calc(
    (var(--font-to-1) - var(--font-from-1)) / (var(--vw-to-1) - var(--vw-from-1))
  );
  --base-1: calc((var(--font-from-1) - var(--vw-from-1) * var(--coefficient-1)) / 16);

  --font-size-2: 1;
}

/* Stop scaling at max breakpoint */
html {
  font-size: calc(var(--font-size-2) * 1rem);
}

/* 1440px and below */
@media screen and (max-width: 1440px) {
  html {
    font-size: calc(var(--base-1) * 1rem + var(--coefficient-1) * 1vw);
  }
}

/* 991px and below */
@media screen and (max-width: 991px) {
  html {
    font-size: calc(var(--base-0) * 1rem + var(--coefficient-0) * 1vw);
  }
}
