/* Selected text has custom background color */
::-moz-selection {
  /* Code for Firefox */
  color: var(--base--black);
  background: var(--primary--base);
}

::selection {
  color: var(--base--black);
  background: var(--primary--base);
}

/* Disable glossy effect safari adds on select elements */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
