/* Structure */
:root {
  /* Page */
  --page--padding: 5vw; /* Desktop/default horizontal padding */
  --page--padding-tablet: 4rem; /* Tablet horizontal padding */
  --page--padding-small-tablet: 2rem; /* Small tablet horizontal padding */
  --page--padding-mobile: 1.5rem; /* Mobile horizontal padding */
  --page--max-width: 100rem; /* Maximum width of the page */

  /* Containers */
  /* MAIN */
  --container--main: calc(min(100%, var(--page--max-width)) - var(--page--padding) * 2);

  /* FULL WIDTH */
  --container--full-width: calc(100% - var(--page--padding) * 2);
}

/* Tablet breakpoint */
@media screen and (max-width: 991px) {
  :root {
    --page--padding: var(--page--padding-tablet);
    --container--main: calc(100% - var(--page--padding) * 2);
    --container--full-width: 100%;
  }
}

/* Small tablet breakpoint */
@media screen and (max-width: 767px) {
  :root {
    --page--padding: var(--page--padding-small-tablet);
    --container--main: calc(100% - var(--page--padding) * 2);
    --container--full-width: 100%;
  }
}

/* Mobile breakpoint */
@media screen and (max-width: 479px) {
  :root {
    --page--padding: var(--page--padding-mobile);
    --container--main: calc(100% - var(--page--padding) * 2);
    --container--full-width: 100%;
  }
}

/* Margin trim */
/* Remove margin from the first and last child */
.u--margin-trim > :first-child,
.u--margin-trim > :not(:not(.w-condition-invisible) ~ :not(.w-condition-invisible)) {
  margin-top: 0;
}
.u--margin-trim > :last-child,
.u--margin-trim > :not(:has(~ :not(.w-condition-invisible))) {
  margin-bottom: 0;
}
