/* Selected text has custom background color */
::-moz-selection {
  /* Code for Firefox */
  color: #0a0a0a;
  background: #fd4f19;
}

::selection {
  color: #0a0a0a;
  background: #fd4f19;
}

/* Disable glossy effect safari adds on select elements */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
