/* Caption */
/*----------------------
  SIZE
----------------------*/
/* Large */

[data-caption-size='Large'] .caption {
  font-size: var(--_typography---size--large);
}

/* Base */
[data-caption-size='Base'] .caption {
  font-size: var(--_typography---size--base);
}

/*----------------------
  COLOR
----------------------*/
/* Dark */
[data-caption-Type='Dark'] .caption {
  color: var(--_color-tokens---content--secondary);
}
[data-caption-Type='Dark'] .caption--divider {
  background-color: var(--_color-tokens---bg--blue);
}

/* Light */
[data-caption-Type='Light'] .caption {
  color: var(--_color-tokens---content--white);
}
[data-caption-Type='Light'] .caption--divider {
  background-color: var(--_color-tokens---bg--white);
}

/* Dynamic */
@media screen and (min-width: 992px) {
  [data-caption-Type='Dynamic'] .caption {
    color: var(--_color-tokens---content--secondary);
  }
  [data-caption-Type='Dynamic'] .caption--divider {
    background-color: var(--_color-tokens---bg--blue);
  }
}

@media screen and (max-width: 991px) {
  [data-caption-Type='Dynamic'] .caption {
    color: var(--_color-tokens---content--white);
  }
  [data-caption-Type='Dynamic'] .caption--divider {
    background-color: var(--_color-tokens---bg--white);
  }
}
